<myLittleAdmin>
	<company>Acme Inc.</company>
	<lname>Demo</lname>
	<fname>Demo</fname>
	<sqlservercount>0</sqlservercount>
	<orderdate>20070901</orderdate>
	<expiredate></expiredate>
	<sharedkey>LITE-5E312F1C-9A7E-4323-B111-D42185204F18</sharedkey>
	<licensekey>14E135FDE073404478CA0F089E908E2C</licensekey>
</myLittleAdmin>
