<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="Version" value="3.1b" />
    <add key="Release" value="0018" />
    <add key="Build" value="2484" />
    <!-- Sysadmin connection value //-->
    <add key="SysAdminLogin_1" value="sa" />
    <add key="SysAdminPassword_1" value="sixpak" />
  </appSettings>
  <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
