#bankingTable {
	padding: 0px;
	margin: 0px;
}

.textShadow {
	text-shadow: #000000 1px 1px 0;
}

.bankingTableHeader, .bankingTableHeader  TD {
	font-family: Arial;
	text-shadow: #000000 1px 1px 0;
	font-size: 10pt;
	font-weight: bold;
	color: #ffffff;
	background-color: rgb(47,93,175);
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 8px;
	margin: 0px;
} 

.bankingTableData_white, .bankingTableData_white TD {
	font-size: 11px;
	background-color: #ffffff;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 8px;
	margin: 0px;
}

.bankingTableRow, .bankingTableRow TD {
	color: rgb(36,72,136);
	background-color: rgb(208,217,232);
	font-size: 11px;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 8px;
	margin: 0px;
}

.bankingTableRow, .bankingTableRow TD A {
	color: rgb(36,72,136);
	background-color: rgb(208,217,232);
	font-size: 11px;
	margin: 0px;
}

.bankingTableRowBalance, .bankingTableRowBalance TD {
	color: #ffffff;
	font-weight: bold;
	background-color: rgb(113,150,217);
	padding: 3px;
	margin: 0px;
}

.bankingTableRow_HOVER, .bankingTableRow_HOVER TD {
	background-color: rgb(36,72,136);
	font-size: 11px;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 8px;
	margin: 0px;
}

.bankingTableRow_HOVER, .bankingTableRow TD_HOVER A {
	color: #ffffff;
	background-color: rgb(208,217,232);
	font-size: 11px;
	margin: 0px;
	cursor: pointer;
}

