<% 
	shadow = "-moz-box-shadow: 3px 13px 4px #000;-webkit-box-shadow: 3px 3px 4px #000;box-shadow: 3px 3px 4px #000;/* For IE 8 */-ms-filter: ""progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"";/* For IE 5.5 - 7 */filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');" 
%>
<style type="text/css">
	a 
	{
		text-decoration: none;
	}
	
	body
	{
		font-family: Cambria;
		font-size: 12pt;
		color: #000;

		background-color: #fff;		
		background: url('http://<%= SERVER_NAME %>/images/backgrounds/spiral_notebook.gif');
		background-position: left;
		background-repeat: repeat-y;
	}

	@media (max-width: 1100px)
	{
  		body 
		{ 
			background-image: none;
		}
	}


	.clearBoth
	{
		clear: both;
	}
	
	.closeButton
	{
		text-align: center;
	}
	
	.container
	{
		display: none;
		margin: 0px;
		padding-top: 20px;
		padding-bottom: 200px;
		width: 100%;
		border: 0px solid #000;
		text-align: center;
		<%= shadow %>
	}
	
	#divCounter
	{
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.dropdown ul
	{
		width: 100px;
	}
	
	.ErrorMessage {
		display: none;
		color: #ff0000;
		font-weight: bold;
	}

	.ErrorMessageElement {
		background-color: #ff69b4;
		box-shadow: 0 0 5px rgba(255, 0, 0, 1);
  		border: 1px solid #ff0000;
	}

	.iconImage {
		opacity: .5;
	}

	.iconImage:hover {
		opacity: 1;
	}
	
	.iconMenu {
		margin: 10px;
		display: block;
	}

	input[type=text], select, textarea
	{
		opacity: .5;
		background-color: <%= THEME_COLOR %>;
		display: block;
		padding: 5px;
		border: 1px;
		width: 100%;
		color: #fff;
		border-style: solid;
		border-color: #000000;
		border-radius:5px;
	 	/* mozilla */
		-moz-border-radius:5px;
	 	/* webkit */
		-webkit-border-radius:5px;
		text-shadow: 1px 1px #000;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	input[type=text]:focus, select:focus, textarea:focus,
	input[type=text]:hover, select:hover, textarea:hover,
	input[type=button]:focus, input[type=submit]:focus,
	input[type=button]:hover, input[type=submit]:hover
	{
		background-color: <%= THEME_COLOR %>;
		opacity: 1;
		box-shadow: 0 0 5px rgba(255, 0, 0, 1);
  		border: 1px solid #ff0000;	
	}
	
	input[type=button], input[type=submit]
	{
		opacity: 1;
		display: block;
		background-color: <%= THEME_COLOR %>;
		color: #fff;
		font-weight: bold;
		padding: 15px;
		border: 1px;
		width: 100%;
		border-style: solid;
		border-color: #000000;
		border-radius:5px;
	 	/* mozilla */
		-moz-border-radius:5px;
		text-shadow: 1px 1px #000;
	 	/* webkit */
		-webkit-border-radius:5px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	
	label
	{
		font-weight: bold;
	}
	
	.menuDropDown
	{
		background: #fff;
	}
	
	.navigation
	{
		background-color: <%= THEME_COLOR %>;
		width: 100%;
	}
	
	.navigation tr td
	{
		padding: 10px;
	}
	
	.navigation tr td:hover
	{
		color: #fff;
		background-color: #000;
	}
	
	.photoTeddy
	{
		float: right;
		margin: 10px;
	}
	
	.resumeHeaderName
	{
		padding: 20px;
		font-family: 'Brush Script MT';
		font-size: 100px;
		text-shadow: 1px 1px #ff0000;
	}
	
	.shadow
	{
		<%= shadow %>
	}
	
	table
	{
		border: 0px none #000;
	}
</style>